[submodule "ColdQEMUTest"]
	path = ColdQEMUTest
	url = https://github.com/gjbauer/ColdQEMUTest.git
[submodule "ColdExploitKit"]
	path = ColdExploitKit
	url = https://github.com/gjbauer/ColdExploitKit
[submodule "edk2/ScraperPkg"]
	path = edk2/ScraperPkg
	url = https://github.com/gjbauer/ScraperPkg.git
